.btn-icon {
  padding: 0rem 1rem;
  color: #ffffff !important;
  outline: none !important;
  box-shadow: none !important;
  @media (min-width: 992px) {
    i {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
