<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <!-- data-toggle="collapse" data-target="#navbarsExampleDefault" -->
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" (click)="toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="navMenu" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['']" (click)="toggle(true)">{{ title }}</a>

    <div class="collapse navbar-collapse" id="navMenu" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" (click)="toggle(true)" [routerLink]="['home']">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" (click)="toggle(true)" [routerLink]="['degrees']">Degrees</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" (click)="toggle(true)" [routerLink]="['certifications']">Certifications</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" (click)="toggle(true)" [routerLink]="['students']">Students</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" (click)="toggle(true)" [routerLink]="['faculty']">Faculty</a>
            </li>
        </ul>
        <hr class="hidden-lg-up" />
        <a class="btn btn-icon my-2 my-sm-0" routerLinkActive="active" [routerLink]="['users']" (click)="toggle(true)"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></a>
        <a class="btn btn-icon my-2 my-sm-0" href="https://www.facebook.com/NCWebDesignSchool/" target="_blank" (click)="toggle(true)"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
    </div>
</nav>
